#headerMarta {
 height: 60px;
}

#wrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

#map {
 min-height: 100%;
 width: 100%;
}

.button {
  background-color: #0c0c0c;
  border: none;
  color: white;
  padding: 8px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
